
<%- include('../partials/header') %>
<div class="table">
    <table class="table table-striped table-hover">
        <thead>
            <th>Airlane Name</th>
            <th>Flight No</th>
            <th>Departs Date</th>
            <th>Depart Time</th>
            <th>More Options</th>
        </thead>
        <tbody>
            <% flights.forEach(function(flight){ %>
            <tr>
                <td><%= flight.airlane %></td>
                <td><%= flight.flightNo %></td>
                <td>
                    <!-- <input type="datetime-local" name="departs" value= <%= flight.departs %> > </input>  -->
                    <%= flight.departs.toDateString() %>
                </td>
                <td>
                    <%= flight.departs.toLocaleTimeString() %>
                </td>
                <td><a href="/flights/<%= flight._id %>">DETAILS</a></td>
            </tr>


            <% }) %>
        </tbody>
    </table>
</div>
<%- include('../partials/footer') %>