<%- include('../partials/header') %>

<section id="show-page">
  <div class="table-flights">
    <table class="table table-striped">
      <thead>
        <th>Airlane Name</th>
        <th>Flight No</th>
        <th>Departs Date</th>
        <th>Depart Time</th>
        <th>Ticket</th>
      </thead>
      <tbody>
        <tr>
          <td><%= flight.airlane %></td>
          <td><%= flight.flightNo %></td>
          <td>
            <!-- <input type="datetime-local" name="departs" value= <%= flight.departs %> > </input>  -->
            <%= flight.departs.toDateString() %>
          </td>
          <td>
            <%= flight.departs.toLocaleTimeString() %>
          </td>
          <td>
              <form class="newTicket" id="add-ticket" method="GET" action="/flights/<%= flight._id %>/tickets">
             <!-- <form> -->
                <input type="hidden" name="<%= flight._id %>">
                <input type="submit" value="Add Ticket"></a>
            </form>
            </td>
        </tr>

      </tbody>
    </table>
  </div>


</section>
<!-- new markup below -->
<br><br>

<div class="container">
    <div class="row">
      <div class="col">
          <% if (flight.destinations.length) { %>
            <h5>Destinations</h5>
            <div class="table-tick-des">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Airport</th>
                    <th>Arrival Date</th>
                    <th>Arrival Time</th>
          
                  </tr>
                </thead>
                <tbody>
                  <% flight.destinations.forEach(function(d) { %>
                  <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival.toDateString() %></td>
                    <td><%= d.arrival.toLocaleTimeString() %></td>
          
                  </tr>
                  <% }); %>
          
                </tbody>
              </table>
            </div>
            <% } else { %>
            <h5>No destination Yet</h5>
            <% } %>
<h2>Destination</h2>
<form class="newFlight" id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Destination:
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DAL">DAL</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
      <option value="SEA">SEA</option>
    </select>

  </label>
  <label>Arrival:
    <input type="datetime-local" name="arrival"></input>
  </label>


  <input type="submit" value="Add Destination">
</form>

<br><br>
</div>
<div class="col">

<!-- <h2>Tickets</h2> -->
<form class="newTicket" id="add-ticket-form" method="POST" action="/flights/<%= flight._id %>/tickets">
  <!-- <label>Seat No:
      <input type="text" name="seat"></input>
    </label><br><br>
    <label>Price:
      <input type="text" name="price"></input>
    </label><br><br>
    
  <input type="submit" value="Add Ticket">
  <% console.log(tickets) %>
  <% if (tickets.length) { %>
    <h5>Tickets</h5>
    <div class="newFlight">
      <table class="table-ticket table table-striped">
        <thead>
          <tr>
            <th>Airport</th>
            <th>Arrival Date</th>
          </tr>
        </thead>
        <tbody>
          <% tickets.forEach(function(t) { %>
          <tr>
            <td><%= t.seat %></td>
            <td><%= t.price %></td>
  
          </tr>
          <% }); %>
  
        </tbody>
      </table>
    </div>
    <% } else { %>
    <h5>No tickets Yet</h5>
    <% } %> -->
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Tickets</h5>
        </div>
        <ul class="list-group list-group-flush">
            <% if (tickets.length) { %>
             
            <% tickets.forEach(function(t) { %>
              <li class="list-group-item">Seat: <%= t.seat %> Price: <%= t.price %></li>
            <% }); %>
          <% }%>
        </ul>
        <div class="card-body">
            <label>Seat No:
                <input type="text" name="seat"></input>
              </label><br><br>
              <label>Price: $
                <input type="text" name="price"></input>
              </label><br><br>
              
            <input type="submit" value="Add Ticket">
        </div>
        </div>

      </div>
    </div>
 
</form>





<%- include('../partials/footer') %>